<br>
<br>
<br>
<br>

<h4> Voici les produits présents dans la boutique <%=Store.find(1).name%> </h4>


<%@stocks.each do |stock|%>
<ul>
<li><h2><%= stock.product.name %></h2></li>
<%= stock.quantity %> <%= stock.unit.name %>
</ul>
<%end%>
<%= link_to 'Ajouter un nouveau produit', new_admin_store_product_path, class: 'btn btn-md btn-outline-secondary ml-1 btn-block' %>