
<div class="container mx-auto px-5">
  <div class="card material-shadow m-5" id="event">
    <div class="card-body">

      <div class="row">
        <div class="col-6 mx-auto text-center">

          <h1 class="font-weight-light">Modifie ton profil 🌞</h1>
          <hr>
          
          <%= form_with model: current_user, url: registration_path(current_user), local: true, method: 'put' do |f| %>
          
            <%if flash[:danger] %>
            <div class="alert alert-danger text-center" role="alert">
              <%=flash[:danger] %>
            </div>
            <% end %>

            <% if devise_error_messages!.empty? %>
            <% else %>
              <div class="alert alert-danger" role="alert">
                <%= render "devise/shared/error_messages", resource: resource %>
              </div>
            <% end %>

            <div class= 'form-group'>
              <h4><%= f.label :store, "Mon local :" %></h4>
              <%= f.select :store, Store.pluck(:name, :id), value: current_user.store.id, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :first_name, "Prénom :" %>
              <%= f.text_field :first_name, autofocus: true, value: current_user.first_name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :last_name, "Nom :" %>
              <%= f.text_field :last_name, value: current_user.last_name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, value: current_user.email, class: "form-control" %>
            </div>

            <div class= 'form-group'>
              <%= f.label :phone_number, "Téléphone :" %>
              <%= f.text_field :phone_number, value: current_user.phone_number, class: 'form-control' %>
            </div>

            <div class= 'form-group'>
              <%= f.label :place, "Rue :" %>
              <%= f.text_field :place, value: current_user.address.place, class: 'form-control' %>
            </div>

            <div class= 'form-group'>
              <%= f.label :zip_code, "Code postal :" %>
              <%= f.text_field :zip_code, value: current_user.address.zip_code, class: 'form-control' %>
            </div>

            <div class= 'form-group'>
              <%= f.label :city, "Ville :" %>
              <%= f.text_field :city, value: current_user.address.city, class: 'form-control' %>
            </div>

            <div class= 'form-group'>
              <%= f.label :sector, "Quartier :" %>
              <%= f.text_field :sector, value: current_user.address.sector, class: 'form-control' %>
            </div>

            <div class="actions text-center">
              <%= f.submit "Mettre à jour", class:"btn btn-primary btn-rounded my-2" %>
            </div>
            
          <% end %>
          
          <hr>
          <br>

          <h1 class="font-weight-light">Modifie ton mot de passe</h1>
          <hr>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            
            <% if devise_error_messages!.empty? %>
            <% else %>
              <div class="alert alert-danger" role="alert">
                <%= render "devise/shared/error_messages", resource: resource %>
              </div>
            <% end %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <%= f.hidden_field :email, value: current_user.email %>
            <%= f.hidden_field :store, value: current_user.store.id %>
            <%= f.hidden_field :zip_code, value: current_user.address.zip_code %>
            <%= f.hidden_field :city, value: current_user.address.city %>
            <%= f.hidden_field :place, value: current_user.address.place %>
            <%= f.hidden_field :sector, value: current_user.address.sector %>

            <div class="form-group">
              <%= f.label :password, "Nouveau mot-de-passe :" %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caractères minimum)</em>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, "Confirmer le mot-de-passe :" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            

            <div class="actions text-center">
              <%= f.submit "Modifier", class:"btn btn-primary btn-rounded my-2" %>
            </div>

          <% end %>
          
          <hr>
          <br>

          <h3 class="font-weight-light text-center"> Tu veux supprimer ton compte? </h3>

          <div class="actions text-center">
            <%= button_to "Supprimer", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger btn-rounded my-2" %>
          </div>
          
        </div>
      </div>

    </div>
  </div>
</div>