  <div class='container'>
    <%= form_with(model: @comment, local: true) do |form| %>
        <h6> Nouveau commentaire : </h6>
        <p><%= form.text_area :text, class: 'form-control' %></p>
        <%= form.hidden_field :event_id, value: @event.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>

        <%= form.submit "Ajouter un commentaire" %>
    <% end %>
  </div>
