<p>Salut <%=@creator_first_name%> <%=@creator_last_name%> </p>
<p>Tu as reçu un commentaire de la part de : <%=@comment_creator_first_name%> <%=@comment_creator_last_name%></p>
<p>Son adresse email est : <%=@comment_creator_email%> </p>
<p>voici le texte du commentaire : <%=@text%></p>
