<h2>Bonjour <%=@creator_first_name%> <%=@creator_last_name%> !</h2>
<p>Tu as reçu un commentaire de la part de : <%=@comment_creator_first_name%> <%=@comment_creator_last_name%>.</p>
<p>Son adresse email est : <%=@comment_creator_email%>.</p>
<p>voici le texte du commentaire : <%=@text%>.</p>
<p><b>Merci de faire vivre Citoyens Producteurs !</b></p>