<% I18n.locale = :fr%>
<div class="container">
  <div class="card border-0 shadow my-5" id="user-contain">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Mon espace 🌾</h1>
      <hr>

      <div class="col-lg-8 col-20 mx-auto">
        <div class="card my-3 card-people-4" id="card-info">
          <div class="card-header p-5 background-cover"  style="background-image:url('/assets/kiwi.jpeg')">
          </div>
          <div class="card-body p-relative font-title text-center">
            <h4 class="mx-2">Bonjour <%= current_user.first_name%> 
            <% if current_user.has_payed == true %>
            🌱
            <% end %>
            </h4>

            <% if flash[:destroyed] %>
              <div class="alert alert-danger text-center" role="alert">
                <%= flash[:destroyed] %>
              </div>
            <% elsif flash[:success] %>
              <div class="alert alert-success text-center" role="alert">
                <%= flash[:success] %>
              </div>
            <% end %>

            <hr>

            <h4>Mon profil :</h4>

            <p>
              <button class="btn btn-success m-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Niveau <span class="badge badge-light"><%= current_user.created_events.length + current_user.appointments.length + current_user.blogs.length %></span>
              </button>
            </p>

            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                Ne jugez pas chaque journée par votre récolte, mais par les graines que vous avez plantées !
              </div>
            </div>

            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: <%= (current_user.created_events.length + current_user.appointments.length + current_user.blogs.length) * 4 %>%"></div>
            </div>
            
            <div class="flex my-3">

              <div class="col p-3"><p><%=current_user.created_events.length%></p><h6 class="my-1 font-body">Évenements organisés</h6><br>
                <button type="button" class="btn btn-outline-secondary btn-rounded m-2" data-toggle="modal" data-target=".bd-event-modal-xl">Voir</button>
                <div class="modal fade bd-event-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">


                      <div class="card-body">
                        <div class="table-responsive">

                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Date de début</th>
                                <th scope="col">Date de fin</th>
                                <th scope="col">Participants</th>
                                <th scope="col">Détails</th>
                              </tr>
                            </thead>
                            <tbody>

                              <h2 class="font-weight-bold">Évenements organisés 🥕</h2>

                              <% current_user.created_events.each do |event|%>

                                <tr>
                                  <th scope="row"><%= event.event_type.name %></th>
                                  <td><%= event.title %></td>
                                  <td><%= l(event.start_date, format: "%-d %B %Y à %Hh %M") %></td>
                                  <td><%= l(event.end_date, format: "%-d %B %Y à %Hh %M") %></td>
                                  <td><%= event.appointments.count %></td>
                                  <td><%=link_to "voir", event_path(event.id),  class: 'btn btn-sm btn-rounded btn-outline-secondary ml-1' %></td>
                                </tr>

                              <% end %>

                            
                            </tbody>
                          </table>

                        </div>
                      </div>

                      <%= link_to 'Créer un événement', new_event_path, class: 'btn btn-md btn-outline-secondary' %>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="col p-3"><p><%=current_user.appointments.length%></p><h6 class="my-1 font-body">Participations</h6><br>
                <button type="button" class="btn btn-outline-secondary btn-rounded m-2" data-toggle="modal" data-target=".bd-participate-modal-xl">Voir</button>
                <div class="modal fade bd-participate-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">

                      <div class="card-body">
                        <div class="table-responsive">

                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Date de début</th>
                                <th scope="col">Date de fin</th>
                                <th scope="col">Détails</th>
                              </tr>
                            </thead>
                            <tbody>

                              <h2 class="font-weight-bold">Mes participations 🥕</h2>

                              <% current_user.appointments.each do |appointment|%>

                                <tr>
                                  <th scope="row"><%= appointment.event.event_type.name %></th>
                                  <td><%= appointment.event.title %></td>
                                  <td><%= l(appointment.event.start_date, format: "%-d %B %Y à %Hh %M") %></td>
                                  <td><%= l(appointment.event.end_date, format: "%-d %B %Y à %Hh %M") %></td>
                                  <td><%=link_to "voir", event_path(appointment.event.id),  class: 'btn btn-sm btn-rounded btn-outline-secondary ml-1' %></td>
                                </tr>

                              <% end %>
                            
                            </tbody>
                          </table>

                        </div>
                      </div>

                      <%= link_to "Voir les évenements", events_path, class:"btn btn-md btn-outline-secondary" %>

                    </div>
                  </div>
                </div>
              </div>

              <div class="col p-3"><p><%=current_user.blogs.length%></p><h6 class="my-1 font-body">Articles postés</h6><br>
                <button type="button" class="btn btn-outline-secondary btn-rounded m-2" data-toggle="modal" data-target=".bd-blog-modal-xl">Voir</button>
                <div class="modal fade bd-blog-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">


                      <div class="card-body">
                        <div class="table-responsive">

                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Nom de l'article</th>
                                <th scope="col">Crée le ...</th>
                                <th scope="col">Like</th>
                                <th scope="col">Commentaires</th>
                                <th scope="col">Détails</th>
                              </tr>
                            </thead>
                            <tbody>

                              <h2 class="font-weight-bold">Articles postés 🥕</h2>

                              <% current_user.blogs.each do |blog|%>

                                <tr>
                                  <th scope="row"><%= blog.title %></th>
                                  <td><%= l(blog.updated_at, format: "%-d %B %Y à %Hh %M") %></td>
                                  <td><%= blog.likes.length %></td>
                                  <td><%= blog.blog_comments.length %></td>
                                  <td><%=link_to "voir", blog_path(blog.id),  class: 'btn btn-sm btn-rounded btn-outline-secondary ml-1' %></td>
                                </tr>

                              <% end %>
                            
                            </tbody>
                          </table>

                        </div>
                      </div>

                      <%= link_to 'Voir les articles', blogs_path, class: 'btn btn-md btn-outline-secondary' %>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <br>

      <h1 class="font-weight-light">Mon calendrier 🗓</h1>
      <hr>

      <div id='scheduler_here' class='dhx_cal_container' style='width:100%; height:800px;'>
        <div class='dhx_cal_navline'>
        <div class='dhx_cal_prev_button'>&nbsp;</div>
        <div class='dhx_cal_next_button'>&nbsp;</div>
        <div class='dhx_cal_today_button'></div>
        <div class='dhx_cal_date'></div>
        <div class='dhx_cal_tab' name='day_tab' style='right:204px;'></div>
        <div class='dhx_cal_tab' name='week_tab' style='right:140px;'></div>
        <div class='dhx_cal_tab' name='month_tab' style='right:76px;'></div></div>
        <div class='dhx_cal_header'></div>
        <div class='dhx_cal_data'></div>
      </div>

      <script>
          scheduler.templates.event_class = function (start, end, event) {
              if (event.event_type.id == '1') 
                  return "collect_event";
              else if (event.event_type.id == '2') 
                  return "cooking_event";
              else if (event.event_type.id == '3')
                  return "communication_event";
              else
                  return "other_event";
          };
          // scheduler.config.icons_select = [
          //     "icon_details",
          //     "icon_location",
          //     "icon_edit",
          //     "icon_delete"
          // ];
          scheduler.config.lightbox.sections=[
              {name:"title", height:30, map_to:"text", type:"textarea" , focus:true},
              {name:"description", height:90, map_to:"description", type:"textarea"},
              // {name:"rue", height:30, map_to:"place", type:"textarea"},
              // {name:"code postal", height:30, map_to:"zip_code", type:"textarea"},
              // {name:"ville", height:30, map_to:"city", type:"textarea"},
              // {name:"quartier", height:30, map_to:"sector", type:"textarea"},
              { name:"type", height:21, inputWidth:400, map_to:"type", type:"select", 
                  options:scheduler.serverList("options", [
                      {key:1, label:"<%= EventType.first.name %>"},
                      {key:2, selected: true, label:"<%= EventType.find(2).name %>"},
                      {key:3, label:"<%= EventType.find(3).name %>"}
                  ]
              )},
              {name:"time", height:72, type:"time", map_to:"auto"}
          ];
      
      scheduler.templates.event_text = scheduler.templates.event_bar_text = function(start, end, event){
          var options = scheduler.serverList("options");
      
          for(var i = 0; i < options.length; i++){
              if(options[i].key == event.type){
                  return options[i].label;
              }
          }
      
          return "";
      };
          scheduler.attachEvent("onTemplatesReady", function(){
              scheduler.templates.event_text=function(start,end,event){
                  return "<b>" + event.id + " " + event.event_type.name + "<br>" + event.text + "</b><br><i>" + event.description + "</i>" + "</b><br><br>" + event.address.city + "<br>";
              }
              });
          scheduler.init('scheduler_here');
          scheduler.load('<%= data_admin_calendar_index_path %>', 'json');
          var dp = new dataProcessor('<%= db_action_admin_calendar_index_path %>');
          dp.init(scheduler);
          dp.setTransactionMode('GET', false);
      </script>

      <br>

      <h1 class="font-weight-light">Devenir adhérent 🌱</h1>
      <hr>
      <br> 
      <% if current_user.has_payed == false %>
        <div class="col-lg-8 col-20 mx-auto">
          <div class="card my-8 card-people-4 " id="card-info">
            <br>
            <div class="row justify-content-center">
              <ul class="text-center">
                <li>Devenir adhérent permet d'acquérir des parts sociales de la coopérative</li>
                <li>En faisant l'acquisition de parts sociales de la coopérative, vous en deviendrez copropriétaire avec les autres membres.
                <br>Vous pourrez participer à l'ensemble des décisions prises au sein de la structure
                <br>et vous obtenez une voix lors de l'assemblée générale.</li>
                <li><br>Le prix est de <%= @amount.to_i/100  %> €</li>
              </ul>
            </div>
            <div class="row justify-content-center">
              <ul>
                <%= form_tag(user_path, method: "patch") do%>
                  <article>
                    <% if flash[:error].present? %>
                      <div id="error_explanation">
                        <p><%= flash[:error] %></p>
                      </div>
                    <% end %>
                  </article>

                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-label="Devenir adhérent"
                          data-description="Devenir adhérent à Citoyens Producteurs"
                          data-amount=<%=@amount.to_f %>
                          data-locale="auto">
                  </script>

                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-lg-8 col-20 mx-auto">
          <div class="card my-8 card-people-4 " id="card-info">
            <br>
            <div class="row justify-content-center">
              <ul class="text-center">
                <li><h4>Tu es adhérent à Citoyens Producteurs, merci beaucoup !</h4></li>
                <li><h5>Nous te préviendrons par email des prochaines assemblées !</h5></li>
              </ul>
            </div>
            <br>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>