<%= render 'layouts/navbar' %>

<div class="container-fluid devise">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">

            <h3 class="login-heading mb-4 text-center">Mot de passe oublié ?</h3>
            <hr>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

              <% if devise_error_messages!.empty? %>
              <% else %>
                <div class="alert alert-danger" role="alert">
                  <%= render "devise/shared/error_messages", resource: resource %>
                </div>
              <% end %>

              <div class="form-group">
                <%= f.label :"email :" %><br>
                <%= f.email_field :email, autofocus: true, autocomplete: "Email", class: "form-control" %>
              </div>

              <div class="actions text-center">
                <%= f.submit "Envoyer un email de récuperation", class: "btn btn-lg bg-hue-blue btn-rounded m-2" %>
                
              </div>

              <hr>

            <% end %>

              <div class= "actions text-center">
              <%= link_to "Se connecter", new_user_session_path, class:"btn btn-lg bg-light btn-rounded m-1" %><br>
              <%= link_to "S'inscrire", new_user_registration_path, class:"btn btn-lg bg-light btn-rounded m-1" %>
              
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
