<div class="hero">
  <div class="container call-to-action">
    <div class="col-6">
      <%= image_tag(("logo.png"), class:"hero-logo")%>
      <p class="lead"><br>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
      </p>
      </div>
  </div>
</div>

<section id="about">
  <div class="container about">
    <div class="row">

      <div class="col-lg-6 content ">
        <h1 class="title-about">Few Words About Us</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <div class="wow fadeInUp">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
          <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>

        <div class="wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-photo"></i></div>
          <h4 class="title"><a href="">Magni Dolores</a></h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>

        <div class="wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a href="">Dolor Sitema</a></h4>
          <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        </div>

      </div>

      <div class="col-lg-6 wow fadeInRight">
        <%= image_tag(("home_basilic.png"), class:"about-img")%>
      </div>
      
    </div>

  </div>
</section>

<section class="counter-style-1 p-relative bg-dark p-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="card font-title p-2 bg-hue-violet cwhite">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="fa fa-envelope p-2"></i></h2>
              <small class="uppercase">Envelopes Received</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">31K</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="card font-title p-2  bg-hue-turquoise cwhite">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="fa fa-phone p-2"></i></h2>
              <small class="uppercase">Calls Received</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">121</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="card font-title p-2 bg-hue-red cwhite">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="fa fa-users p-2"></i></h2>
              <small class="uppercase">Users Registered</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">2K</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="card font-title p-2 bg-hue-green cwhite">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="fa fa-check p-2"></i></h2>
              <small class="uppercase">Applicants Passed</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">210</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container text-left"><br><br><br><br><br><br>
  <h1>BLABLA ATTRAYANT</h1>
  <hr>
  <ul>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </li>

      <li>
        Voici ton email : <%= current_user.email %>
      </li>

      <li>
        <%= link_to "Edit email / password", edit_user_registration_path %>
      </li>

    <% else %>
      <li>    
        <%= link_to "Sign in", new_user_session_path %>
      </li>

      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>

    <% end %>
  </ul>
</div>

<div class="container text-left"><br><br><br><br><br><br>
  <h1>BLABLA ATTRAYANT</h1>
  <hr>
</div>

<div class="container text-left"><br><br><br><br><br><br>
  <h1>BLABLA ATTRAYANT</h1>
  <hr>
</div>

<div class="container text-left"><br><br><br><br><br><br>
  <h1>BLABLA ATTRAYANT</h1>
  <hr>
</div>

<div class="container text-left"><br><br><br><br><br><br>
  <h1>BLABLA ATTRAYANT</h1>
  <hr>
</div>
<br><br><br><br><br><br>