<%= render 'layouts/navbar' %>

<div class="jumbotron">
  <div class="container container-hero">

    <div class="row">
      <div class="col-5 col-xl-6 col-lg-7 col-md-8 col-sm-9 p-0 animated fadeInRight">
      
        <%= image_tag(("logo.png"), class:"hero-logo") %>
        <h1 class="title-slogan">La première coopérative agricole urbaine et citoyenne
        <br><%= link_to "Rejoignez-nous !", new_user_session_path, class:"btn hero-btn btn-primary btn-rounded btn-lg"%>
        </h1>
        
      </div>
    </div>

  </div>
</div>

  <div class="container about animated fadeInUp">

    <div class="row">

      <div class="content">

        <h1 class="title-goal mb-3">Notre objectif</h1>
        <hr>
        <p class="lead"><i class="far fa-heart"></i> &nbsp; Lutter contre le gaspillage alimentaire en récoltant le surplus des producteurs locaux</p>
        <p class="lead"><i class="far fa-heart"></i> &nbsp; Permettre à chacun de contribuer à une alimentation locale</p>
        <p class="lead"><i class="far fa-heart"></i> &nbsp;Garantir des produits sains, cultivés près de chez vous, et a très faible impact carbone</p>
        <p class="lead"><i class="far fa-heart"></i> &nbsp;Contribuer au développement d’une activité locale et responsable</p>

      </div>


    </div>
  </div>


<section class="counter p-4 animated fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="font-title p-2">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="fas fa-seedling"></i></h2>
              <small class="uppercase">Producteurs engagés</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">30</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="font-title p-2">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="fas fa-hand-holding-heart"></i></h2>
              <small class="uppercase">Bénévoles engagés</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">121</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="font-title p-2">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="far fa-lemon"></i></h2>
              <small class="uppercase">Produits récoltés</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">99 kg</span></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12 my-3">
        <div class="font-title p-2">
          <div class="row text-center">
            <div class="col-5 justify-center align-center flex-column py-3">
              <h2><i class="fas fa-carrot"></i></h2>
              <small class="uppercase">Produits vendus</small>
            </div>
            <div class="col-7 justify-center align-center "><span class="display-4">210</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container about animated fadeInUp">
  
    <div class="row">

      <div class="content">
      
        <h1 class="title-about">La coopérative agricole urbaine et citoyenne !</h1>
        <hr>
        <p class="lead text-center">
        Citoyens Producteurs est un projet de coopérative agricole urbaine unique en son genre !
        <br>De nombreux jardins urbains sont la source de biens belles récoltes, mais souvent ces fruits ou ces légumes ne sont pas exploités.
        <br>C’est là qu’intervient Citoyens Producteurs, en récupérant le surplus de production dans les jardins citoyens !
        <br>Ces cueillettes sont ensuite transformées pour être dégustées sous forme de confitures, pâtes de fruits, soupes, purée, etc...
        <br>L’objectif est que nous reprenions la main sur notre alimentation en devenant tous producteurs !
        </p>

        <hr>

        <div class="mt-5 animated fadeInUp delay-1s">
          <div class="box">
            <div class="icon"><i class="fas fa-seedling"></i></div>
            <h4 class="title">Producteurs</a></h4>
            <p class="description">Tu possèdes un petit potager ? Ta production est surabondante ? Tu en as marre de gaspiller ? Rejoint le mouvement pour qu’une équipe de cueilleur vienne récupérer ton surplus pour participer à un projet de forte valeur environnementale ! </p>
          </div>
        </div>
        <br>

        <div class="animated fadeInUp delay-2s">
          <div class="box">
            <div class="icon"><i class="fas fa-hand-holding-heart"></i></div>
            <h4 class="title">Bénévoles</a></h4>
            <p class="description">Tu as la main verte (ou pas) et tu souhaites consacrer ton temps libre à participer à la lutte contre le gaspillage alimentaire et rencontrer des personnes ? Rejoint le mouvement !</p>
          </div>
        </div>
        <br>

        <div class="animated fadeInUp delay-3s">
          <div class="box">
            <div class="icon"><i class="fas fa-utensils"></i></div>
            <h4 class="title">Produits transformés</a></h4>
            <p class="description">Tu aimes cuisiner et tu te sens capable de transformer les produits récoltés en produits consommables et conservables (confitures, soupes, tisanes) ? Participe au projet !</p>
          </div>
        </div>

        <div class="btnsuccess text-center animated fadeInUp delay-4s">
          <a class="btn btn-lg btn-primary btn-rounded m-2" <%= link_to "En savoir plus", community_path %></a><br>
        </div>
    </div>

  </div>
</section>

<div id="carousel" class="carousel slide carousel-fade animated fadeInUp" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000">
      <img src="https://images.pexels.com/photos/48817/jam-preparations-jars-fruit-48817.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://images.pexels.com/photos/673673/pexels-photo-673673.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://images.pexels.com/photos/1300972/pexels-photo-1300972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>

<section id="contact">
  
  <div class="col-10 mx-auto p-4 text-center animated fadeInUp">

    <div class="row">

      <div class="col-12 my-3">

        <h2 class="title-contact" >Nous sommes là pour vous</h2>
        <div class="col-12 p-0">

          <div class="card border-5 shadow my-5">

            <h4 class="uppercase my-3 font-title">Adresse :</h4>
            <p class="mb-5">420 Rue du citoyens-producteurs
            <br>Bourg-la-Reine
            <br>92340, France
            </p>
            <h4 class="uppercase my-3 font-title">Contact :</h4>
            <p class="mb-5">
            <i class="fa fa-phone mr-2"></i>06 83 87 04 95<br>
            <i class="fa fa-envelope mr-2"></i> citoyens-producteurs@lilo.org
            </p>
            <hr>

            <iframe class="p-relative home-maps"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10516.376138168858!2d2.31667645!3d48.780095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6712a13518e05%3A0x40b82c3688b3e80!2s92340%20Bourg-la-Reine!5e0!3m2!1sfr!2sfr!4v1575456577997!5m2!1sfr!2sfr"
            allowfullscreen>
            </iframe>

          </div>

          <hr>

          <h4 class="uppercase my-3 font-title section-title">Suivez-nous !</h4>
          <a class=" m-1"> <%= link_to "", "https://www.facebook.com/CitoyensProducteurs/", class:"fab fa-facebook  fa-2x", :target => '_blank'%></a>
          <a class=" m-1"> <%= link_to "", "https://twitter.com/CProducteurs", class:"fab fa-twitter  fa-2x", :target => '_blank'%></a>
          <a class=" m-1"> <%= link_to "", "https://www.instagram.com/citoyensproducteurs/", class:"fab fa-instagram  fa-2x", :target => '_blank'%></a>

        </div>
        
      </div>

      
    </div>
  </div>

</div>
</section>