<div class="hero">
  <div class="container call-to-action">
    <div class="col-6">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
      <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
      </p>
      </div>
  </div>
</div>

<div class="container text-left"><br><br><br><br><br><br>
  <h1>BLABLA ATTRAYANT</h1>
  <hr>
  <ul>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </li>

      <li>
        Voici ton email : <%= current_user.email %>
      </li>

      <li>
        <%= link_to "Edit email / password", edit_user_registration_path %>
      </li>

    <% else %>
      <li>    
        <%= link_to "Sign in", new_user_session_path %>
      </li>

      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>

    <% end %>
  </ul>
</div>

<div class="container text-left"><br><br><br><br><br><br>
  <h1>BLABLA ATTRAYANT</h1>
  <hr>
</div>

<div class="container text-left"><br><br><br><br><br><br>
  <h1>BLABLA ATTRAYANT</h1>
  <hr>
</div>

<div class="container text-left"><br><br><br><br><br><br>
  <h1>BLABLA ATTRAYANT</h1>
  <hr>
</div>

<div class="container text-left"><br><br><br><br><br><br>
  <h1>BLABLA ATTRAYANT</h1>
  <hr>
</div>
<br><br><br><br><br><br>