    <h2>Salut <%=@user_first_name%> <%=@user_last_name%>.</h2>
    <p>Tu as quitté l'évènement : "<%=@title%>".</p>
    <p>Cet évènement est géré par <%=@creator_first_name%> <%=@creator_last_name%>.</p>
    <p>Tu peux le contacter via son email : <%=@creator_email%> et son numéro de téléphone : <%=@creator_phonenumber%>.</p>
    <p><b>Nous espérons te revoir très vite chez <%=@url%> !</b></p>