    <h2>Salut <%=@user_first_name%> <%=@user_last_name%></h2>
    <p>Tu as rejoint l'évenement <%=@title%> </p>
    <p>L'évenement débute le : <%=@apt_start_date%> et dure <%=@apt_duration%></p>
    <p>avec cet événement tu vas récolter <%=@points%> points </p>
    <p>Cet événement est géré par <%=@creator_first_name%> <%=@creator_last_name%></p>
    <p>tu peux le contacter via son email : <%=@creator_email%> et son numéro de téléphone : <%=@creator_phonenumber%></p>