    <p>Salut <%=@creator_first_name%> <%=@creator_last_name%></p>
    <p>Un citoyen producteur à rejoint l'évenement <%=@title%> </p>
    <p>Son nom est <%=@user_first_name%> <%=@user_last_name%></p>
    <p>L'évenement débute le : <%=@apt_start_date%> et dure <%=@apt_duration%> mn</p>
    <p>avec cet événement il va récolter <%=@points%> points </p>
    <p>tu peux le contacter via son email : <%=@user_email%> et son numéro de téléphone : <%=@user_phone_number%></p>
  