<div class="container mx-auto px-5">
  <div class="card material-shadow m-5" id="event">
    <div class="card-body">

      <div class="row">
        <div class="col-12 mx-auto text-center">
        
          <h1 class="text-center">Créer un événement :</h1>
          <hr>

          <%= form_with model: @event, local: true, class: 'col-5 offset-5 mx-auto' do |f| %>
          
            <div class= 'form-group'>
              <label><h4> Type de l'événement : </h4></label>
              <%= f.select :type, EventType.pluck(:name, :id), class: 'form-control' %>
            </div>
            <hr>

            <%if flash[:danger] %>
              <div class="alert alert-danger text-center" role="alert">
                <%=flash[:danger] %>
              </div>
            <% end %>

            <div class= 'form-group'>
              <label> Titre : </label>
              <%= f.text_field :title, class: 'form-control' %>
            </div>

            <div class= 'form-group'>
              <label> Description :</label>
              <%= f.text_area :description, class: 'form-control' %>
            </div>

            <div class= 'form-group'>
              <label> Date de début : </label>
              <%= f.datetime_field :start_date, class: 'form-control' %>
            </div>

            <div class= 'form-group'>
              <label> Date de fin : </label>
              <%= f.datetime_field :end_date, class: 'form-control' %>
            </div>

            <div class= 'form-group'>
              <label> Adresse : </label>
              <%= f.text_field :place, class: 'form-control' %>
            </div>

            <div class= 'form-group'>
              <label> Code postal : </label>
              <%= f.text_field :zip_code, class: 'form-control' %>
            </div>

            <div class= 'form-group'>
              <label> Ville : </label>
              <%= f.text_field :city, class: 'form-control' %>
            </div>

            <div class= 'form-group'>
              <label> Secteur : </label>
              <%= f.text_field :sector, class: 'form-control' %>
            </div>

            <hr>

            <%= f.hidden_field :creator, value: current_user %>
            <%= f.submit "Créer l'évenement", class: 'btn btn-lg btn-success btn-rounded' %>

          <% end %>

          <br>
          
        </div>
      </div>

    </div>
  </div>
</div>