<br><br><br>
<div class="container">
<div class="card border-0 shadow my-5">

  <!-- Title -->
  <h1 class="mt-4 text-center"><%=@event.title%></h1>

  <!-- Author -->
  <p>
  Créé par : <%= @event.creator.first_name + ' ' + @event.creator.last_name%> 
  </p>
  <hr>

  <!-- Tag -->
  <h5> Catégorie : </h5>
  <p>
    <span class="badge badge-pill badge-secondary">a modifier</span>
  </p>

  <!-- Preview Image -->
  <img class="img-fluid rounded" src="https://images.pexels.com/photos/1301856/pexels-photo-1301856.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
  <hr>

  <!-- Post Content -->
  <p><%=@event.description%></p>
   <hr>

  <!-- Comments Form -->
  <div class="card my-4">
    <h5 class="card-header">Laisser un commentaire</h5>
    <div class="card-body">
      <form>
        <div class="form-group">
        <%= render 'comments/form' %>
        <!--
        <textarea <% render 'comments/form'%> class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-rounded">Commenter</button>
        -->
      </form>
    </div>
   </div>

  <hr>
  <!-- Comment with nested comments -->
  <div class="media mb-4">
    <div class="media-body">
    <h5>Les commentaires</h5>
     <% @event.comments.order('created_at DESC').each do |comment| %>
      <p class="mt-0">Par : <%= comment.user.first_name + ' ' + comment.user.last_name%>, le 
      <%= comment.updated_at.strftime("%-d %B %Y at %Hh %Mm %Ss (UTC)") %>
      </p>
        <blockquote class="blockquote w-50">
          <i><%= comment.text %></i>
        </blockquote>    
        <hr>
      <p>
        <%= link_to 'Modifier', edit_comment_path(comment, comment: { text: comment.text, user_id: comment.user_id, event_id: comment.event_id }), class:"btn btn-lg bg-warning btn-rounded m-1" %>
        <%= link_to 'Supprimer', comment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-lg bg-danger btn-rounded m-1" %>
      </p>
      <% end %>
    </div>
    </div>
  </div>
</div>
</div>
</div>

<%= link_to 'Back to index', events_path %>


