<div class="card mb-3">

<div class="card-header">
  <i class="fas fa-table"></i>
   </div>
  <h4> Voici les produits présents dans la boutique <%=@store.name%> </h4>
</div>
<%= link_to 'Ajouter un nouveau produit', new_admin_store_product_path, method: :get, class: 'btn btn-md btn-outline-secondary ml-1 btn-block' %>
<div class="card-body">
  <div class="table-responsive">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Produit </th>
          <th scope="col">Quantité</th>
          <th scope="col">Unité</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

      <%@stocks.each do |stock|%>
        <tr>
          <th scope="row"><%= stock.id %></th>
          <td><%= stock.product.name %></td>
          <td><%= stock.quantity %></td>
          <td><%= stock.unit.name%></td>
          <td><%= link_to "Modifier la quantité", edit_admin_store_product_path(:id => stock.id,:store_id => params[:id]),class: 'btn btn-md btn-outline-secondary ml-1 btn-block' %></td>          
          <td><%= button_to "Retirer du stock", {:controller => :stores, :action => 'destroy',:store_id=>params[:id], :stock_id => stock.id }, :method => :delete,class: 'btn btn-md btn-outline-secondary ml-1 btn-block' %></td>
          
        </tr>
      <% end %>

      </tbody>
    </table>

  </div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

