<div id='scheduler_here' class='dhx_cal_container' style='width:100%; height:800px;'>
  <div class='dhx_cal_navline'>
  <div class='dhx_cal_prev_button'>&nbsp;</div>
  <div class='dhx_cal_next_button'>&nbsp;</div>
  <div class='dhx_cal_today_button'></div>
  <div class='dhx_cal_date'></div>
  <div class='dhx_cal_tab' name='day_tab' style='right:204px;'></div>
  <div class='dhx_cal_tab' name='week_tab' style='right:140px;'></div>
  <div class='dhx_cal_tab' name='month_tab' style='right:76px;'></div></div>
  <div class='dhx_cal_header'></div>
  <div class='dhx_cal_data'></div>
  </div>
<script>
    scheduler.templates.event_class = function (start, end, event) {
        if (event.event_type.id == '1') 
            return "collect_event";
        else if (event.event_type.id == '2') 
            return "cooking_event";
        else if (event.event_type.id == '3')
            return "communication_event";
        else
            return "other_event";
    };
    // scheduler.config.icons_select = [
    //     "icon_details",
    //     "icon_location",
    //     "icon_edit",
    //     "icon_delete"
    // ];
    scheduler.config.lightbox.sections=[
        {name:"title", height:30, map_to:"text", type:"textarea" , focus:true},
        {name:"description", height:90, map_to:"description", type:"textarea"},
        // {name:"rue", height:30, map_to:"place", type:"textarea"},
        // {name:"code postal", height:30, map_to:"zip_code", type:"textarea"},
        // {name:"ville", height:30, map_to:"city", type:"textarea"},
        // {name:"quartier", height:30, map_to:"sector", type:"textarea"},
        { name:"type", height:21, inputWidth:400, map_to:"type", type:"select", 
            options:scheduler.serverList("options", [
                {key:1, label:"<%= EventType.first.name %>"},
                {key:2, label:"<%= EventType.find(2).name %>"},
                {key:3, label:"<%= EventType.find(3).name %>"}
            ]
        )},
        {name:"time", height:72, type:"time", map_to:"auto"}
    ];
 
scheduler.templates.event_text = scheduler.templates.event_bar_text = function(start, end, event){
    var options = scheduler.serverList("options");
 
    for(var i = 0; i < options.length; i++){
        if(options[i].key == event.type){
            return options[i].label;
        }
    }
 
    return "";
};
    scheduler.attachEvent("onTemplatesReady", function(){
        scheduler.templates.event_text=function(start,end,event){
            return "<b>" + event.id + " " + event.event_type.name + "<br>" + event.text + "</b><br><i>" + event.description + "</i>" + "</b><br><br>" + event.address.city + "<br>";
        }
        });
    scheduler.init('scheduler_here');
    scheduler.load('<%= data_admin_calendar_index_path %>', 'json');
    var dp = new dataProcessor('<%= db_action_admin_calendar_index_path %>');
    dp.init(scheduler);
    dp.setTransactionMode('GET', false);
</script>