
    <p> Titre de l'événement <%=@event.title%>
    <p> Description de l'événement <%=@event.description%> </p>
    <p> Le lieu de l'événement <%=@event.address.place%> <%=@event.address.zip_code%> <%=@event.address.city%> situé dans le secteur <%=@event.address.sector%></p>
    <p> Le début de l'événement <%=@event.start_date%> </p>
    <p> Prénom du fondateur de l'événement <%=@user_first_name%> </p>
    <p> son nom de famille : <%=@user_last_name%></p>
    <p> son email : <%=@user_email%></p>