<div class="body-mail" bgcolor="#F9F0D9">
<table width="100%" bgcolor="#F9F0D9" border="0" cellpadding="0" cellspacing="0">
<tr>
  <td>
    <table bgcolor="#F9F0D9" class="content-mail" align="center" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td bgcolor="#F9F0D9" class="header-mail">
          <table width="70" align="left" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="70" style="padding: 0 20px 20px 0;">
                <%=image_tag("lemon")%>
              </td>
            </tr>
          </table>
          <table class="col425" align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 425px;">
            <tr>
              <td height="70">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="subhead" style="padding: 0 0 0 3px;">
                    <h1>Salut <%=@user_first_name%> <%=@user_last_name%><h1>
                    <hr>
                    </td>
                  </tr>
              </td>
            </tr>
            <tr>
              <td class="innerpadding-mail borderbottom">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="h2" style="text-align:center;">
              <p> Tu viens de créer un nouvel évènement chez Citoyens Producteurs et nous te remercions chaleureusement de faire vivre la communauté.</p>
              <p> Le titre de ton évènement est : <%=@event.title%> et voici sa description : <%=@event.description%>.</p>
              <p> Le lieu de l'évènement <%=@event.address.place%> <%=@event.address.zip_code%> <%=@event.address.city%> situé dans le secteur <%=@event.address.sector%>.</p>
              <p> L'évènement aura lieu le : <%=@event.start_date%>.</p>
              <p> Les personnes qui s'inscriront à l'évènement recevrons ton adresse email : <%=@user_email%> et ton numéro de téléphone.</p>
            <tr>
              <td class="bodycopy" style="text-align:center;">
              <p><b>A très bientôt chez <%=@url%></b></p>            </tr>
              <hr>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="innerpadding borderbottom">
          <table width="115" align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="115" style="padding: 0 20px 20px 0;">
                <%=image_tag("logo.png")%>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
</div>