
    <h1> Titre de l'événement <%=@event.title%>
    <h2> Description de l'événement <%=@event.description%> </h2>
    <h2> Le lieu de l'événement <%=@event.address.place%> <%=@event.address.zip_code%> <%=@event.address.city%> situé dans le secteur <%=@event.address.sector%></h2>
    <h2> Le début de l'événement <%=@event.start_date%> </h2>
    <h2> Prénom du fondateur de l'événement <%=@user_first_name%> </h2>
    <h2> son nom de famille : <%=@user_last_name%></h2>
    <h2> son email : <%=@user_email%></h2>