<html>

</br>

<%= form_with model: @user, local: true, class: 'mt-5 col-4 offset-4' do |f| %>

  <div class= 'form-group'>
  <label> type </label>
  <%= f.select :store, Store.pluck(:name, :id), class: 'form-control' %>
  </div>

  <div class= 'form-group'>
    <label> Prenom </label>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class= 'form-group'>
   <label>Nom </label>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class= 'form-group'>
   <label>Email </label>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class= 'form-group'>
   <label>phone_number </label>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class= 'form-group'>
   <label>Statut </label>
   <%= f.check_box :is_admin, class: 'form-control' %>
  </div>


  <div class= 'form-group'>
    <label> Adresse : </label>
    <%= f.text_field :place, class: 'form-control', value: @user.address.place %>
  </div>
  <div class= 'form-group'>
    <label> code postal </label>
    <%= f.text_field :zip_code, class: 'form-control', value: @user.address.zip_code %>
  </div>
  <div class= 'form-group'>
    <label> ville </label>
    <%= f.text_field :city, class: 'form-control', value: @user.address.city  %>
  </div>
  <div class= 'form-group'>
    <label> quartier </label>
    <%= f.text_field :sector, class: 'form-control', value: @user.address.sector  %>
  </div>

  
  

 
  

  <div class='actions'>
    <%= f.submit %>
  </div>

<% end %>


<center>
<% if@user.errors.any? %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> Erreur ! </strong>
    <p>Nous n'avons pas réussi à créer un évènement pour la (ou les) raison(s) suivante(s) :</p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</center>
</html>
