<div class="container">
  <div class="card border-5 shadow my-5">

    <%= form_with model: @user, url: admin_users_path, method: 'post', local: true, class: 'mt-5 col-4 offset-4' do |f| %>
      <div class= 'form-group'>
        <label> Boutique : </label><br>
        <%= f.select :store, Store.pluck(:name, :id), class: 'form-control' %>
      </div>
      <hr>
      <%if flash[:danger] %>
        <div class="alert alert-danger text-center" role="alert">
          <%=flash[:danger] %>
        </div>
      <% end %>
      <div class= 'form-group'>
        <label> email : </label>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class= 'form-group'>
        <label> Prénom :</label>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
      <div class= 'form-group'>
        <label> Nom : </label>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
      <div class= 'form-group'>
        <label>Numéro de telephone : </label>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>
      <div class= 'form-group'>
        <label>Administrateur:</label>
        <%= f.check_box :is_admin, class: 'form-control' %>
      </div>
      
        <div class= 'form-group'>
        <label> Adresse : </label>
        <%= f.text_field :place, class: 'form-control' %>
      </div>
      <div class= 'form-group'>
        <label> Code postal : </label>
        <%= f.text_field :zip_code, class: 'form-control' %>
      </div>
      <div class= 'form-group'>
        <label> Ville : </label>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
      <div class= 'form-group'>
        <label> Secteur : </label>
        <%= f.text_field :sector, class: 'form-control' %>
      </div>
      <hr>
      
      <%= f.submit "Créer le nouvel utilisateur", class: 'btn btn-lg btn-outline-secondary' %>
    <% end %>
    <br>
  </div>
</div>

