<body id="page-top">

<!-- Début-->

<% if flash[:danger] %>
    <div class="danger"><%= flash[:danger] %></div>
<% end %>

  <div id="wrapper">

    <!-- Sidebar -->

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
            
              <div class="card-body">

                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>

                <div class="mr-5 lead">
                  <%= User.all.length %> Utilisateurs <br>
                </div>

                <div class="mr-5">
                  <ul>

                    <li> <%= Appointment %> </li>
                    <li>  </li>
                    <li>  </li>

                  </ul>
                </div>

              </div>

                <%= link_to "Voir en détails", admin_users_path, class: "card-footer text-white clearfix small z-1"%>

            </div>
          </div>
          
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-secondary o-hidden h-100">

              <div class="card-body">

                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>

                <div class="mr-5 lead">
                  <%= Event.all.length %> Évenements <br>
                </div>

                <div class="mr-5">
                  <ul>

                    <li> <%= Event.where(event_type:1).length %> <%= EventType.find(1).name %> </li>
                    <li> <%= Event.where(event_type:2).length %> <%= EventType.find(2).name %> </li>
                    <li> <%= Event.where(event_type:3).length %> <%= EventType.find(3).name %> </li>

                  </ul>
                </div>

              </div>

                <%= link_to "Voir en détails", admin_events_path, class: "card-footer text-white clearfix small z-1"%>

            </div>
          </div>

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">

              <div class="card-body">

                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>

                <div class="mr-5 lead">
                  <%= Store.first.store_products.all.length %> Produits en stock <br>
                </div>

                <div class="mr-5">
                  <ul>

                    <li>  </li>
                    <li>  </li>
                    <li>  </li>

                  </ul>
                </div>

              </div>

                <%= link_to "Voir en détails", admin_store_products_path, class: "card-footer text-white clearfix small z-1"%>

            </div>
          </div>

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">

              <div class="card-body">

                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>

                <div class="mr-5 lead">
                  <%= Feedback.all.length %> Feedbacks <br>
                </div>

                <div class="mr-5">
                  <ul>

                    <li>  </li>
                    <li>  </li>
                    <li>  </li>

                  </ul>
                </div>

              </div>

                <%= link_to "Voir en détails", admin_feedbacks_path, class: "card-footer text-white clearfix small z-1"%>

            </div>
          </div>


        </div>

        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Area Chart Example</div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">

          <div class="card-header">
            <i class="fas fa-table"></i>
            User
          </div>

          <div class="card-body">
            <div class="table-responsive">

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nom </th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Local</th>
                    <th scope="col">Profil</th>
                  </tr>
                </thead>
                <tbody>

                <%@users.each do |user|%>
                  <tr>
                    <th scope="row"><%= user.id %></th>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.store.name %></td>
                    <td><%= link_to "voir le profil", admin_user_path(user.id) %></td>
                  </tr>
                <% end %>

                </tbody>
              </table>

            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>


      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

</body>