<ul class="sidebar sidebar-admin navbar-nav">

    <%= link_to image_tag(("logo.png"), class:"sidebar-admin-logo"), root_path %>

    <li class="nav-item">
        
        <%= link_to admin_root_path, class:"nav-link" do %>
        <i class="fas fa-tachometer-alt nav-icon"></i>
        <span class="nav-link">Dasboard</span>
        <% end %>

    </li>

    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <%= link_to "Utilisateurs", admin_users_path, class: "dropdown-item" %>
        <%= link_to "Evénements", admin_events_path, class: "dropdown-item" %>
        <%= link_to "Feedbacks", admin_feedbacks_path, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Gestion du local</h6>
        <%= link_to "Agenda", admin_root_path, class: "dropdown-item" %> 
        <%= link_to "Stock", admin_stores_path, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Autre</h6>
        <%= link_to "Types d'événements", admin_event_types_path, class: "dropdown-item" %>
        <%= link_to "Produits", admin_products_path, class: "dropdown-item" %>
        <%= link_to "Unités", admin_units_path, class: "dropdown-item" %>
        
    </div>
    </li>

    <li class="nav-item">

        <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span class="nav-link">Charts</span></a>

    </li>

    <li class="nav-item">

        <a class="nav-link">
        <i class="fas fa-fw fa-table"></i>
        <span class="nav-link">Tables</span></a>

    </li>

</ul>