   <div id="sidebar">
    <div class="toggle-btn" onclick="toggleSidebar()">
    <a>
    <%=image_tag(("list.png"), class:"menu-burger")%>
    </a>
    </div>
    <div class="container sidebar-box">
      <div class="sidebar-link">
        <div class="flex-start">
          <%= image_tag(("logo.png"), class:"sidebar-logo")%><hr>
          <a href="#">Index<span><%=image_tag("home.png")%></span></a>
          <a href="#">Villes<span><%=image_tag("city.png")%></span></a>
          <a href="#">Producteurs<span><%=image_tag("farmer.png")%></span></a>
          <a href="#">Évents<span><%=image_tag("events.png")%></span></a>
        </div>
        <div class="flex-end">
          <a href="#">À propos<span><%=image_tag("home.png")%></span></a>
          <a href="#">Nous contacter<span><%=image_tag("home.png")%></span></a>
        </div>
      </div>
    </div>
  </div>