   <div id="sidebar">
    <div class="toggle-btn" onclick="toggleSidebar()">
    <a>
    <%=image_tag("carrot.png")%>
    </a>
    </div>
    <div class="container navbar">
      <div class="sidebar-link">
        <div class="flex-start">
          <h1 class="text-center brown">Citoyens Producteur</h1><hr>
          <a href="#">Index<span><%=image_tag("home.png")%></span></a>
          <a href="#">Villes<span><%=image_tag("city.png")%></span></a>
          <a href="#">Producteurs<span><%=image_tag("farmer.png")%></span></a>
          <a href="#">Évents<span><%=image_tag("events.png")%></span></a>
        </div>
        <div class="flex-end">
          <a href="#">À propos<span><%=image_tag("home.png")%></span></a>
          <a href="#">Nous contacter<span><%=image_tag("home.png")%></span></a>
        </div>
      </div>
    </div>
  </div>