<div id="sidebar">

  <div class="toggle-btn" onclick="toggleSidebar()">
    <%=image_tag(("carrot.png"), class:"sidebar-link menu-burger animated infinite swing delay-2s")%>
  </div>

  <div class="container sidebar-box text-center">

    <%= link_to image_tag(("logo.png"), class:"sidebar-logo "), root_path %>    

    <div class="row sidebar-row text-center">

      <div class="col-12 sidebar-col">
        <div class="sidebar-link">

          <div class="flex-start">

            <%= link_to "Mon Espace", user_path(current_user.id), class: "btn-xl btn-light btn-rounded sidenav-link" %>
            <%= link_to "Évenements", events_path, class: "btn-xl btn-light btn-rounded sidenav-link" %>
            <%= link_to "Magasin", stores_path, class: "btn-xl btn-light btn-rounded sidenav-link" %>
            <%= link_to "#Stock", root_path, class: "btn-xl btn-light btn-rounded sidenav-link" %>
            
          </div>

          <div class="flex-end">

            <%= link_to "#Communauté", root_path, class: "btn-xl btn-light btn-rounded sidenav-link" %>
            <%= link_to "Contactez nous", root_path(:anchor => "contact"), class: "btn-xl btn-light btn-rounded sidenav-link" %>

          </div>

        </div>
      </div>

      <div 1class="col-4 sidebar-col">

      </div>

    </div>

  </div>
</div>